/**
*
* STYLUS
* Mixins sample
*
*/

radius(n = 5px)
    -webkit-border-radius n
    -moz-border-radius n
    -ms-border-radius n
    -o-border-radius n
    border-radius n

.default-radius
    radius()

.custom-radius
    radius(10px)